<%- include('../partials/admin-headder') %>
<html>

<body>

  <section class="content-main">
   
      <div class="row">
        <div class="col-9">
          <div class="content-header">
            <h2 class="content-title">Add offer For <%= brand[0].brandName %> </h2>
           
          </div>
        </div>
        <div class="col-lg-6">
          <div class="card mb-4">
            <div class="card-header">
              <h4>Basic</h4>
            </div>
            <div class="card-body">

              <div class="mb-4">
                <label for="product_name" class="form-label">Brand title</label>
                <label  value=""  class="form-control" id="product_name"><%= brand[0].brandName %></label>
              </div>
              <div class="mb-4">
                <label class="form-label">Description</label>
                <label  class="form-control" rows="4"><%= brand[0].discription %></label>
              </div>
              <div class="row">
                <div class="col-lg-4">
                
                </div>

              
              </div>

            </div>
          </div> <!-- card end// -->

        </div>

        <form action="/admin/add-brand-offer/<%= brand[0]._id %>" method="post">
        <div class="col-lg-3">
          <div class="card mb-4">
            <div class="card-header">
              <h4>Offer</h4>
            </div>
            <div class="card-body">
              <div class="input-upload">
                <div>   
                 </div>
                 <input name="offer" required class="form-control" id="offer" value="<%= brand[0].offer %>" type="number">
              </div>
            </div>
          </div> <!-- card end// -->
          
        </div>

        <div class="col-9">
            <div class="content-header">
              <div>
                <button type="submit" class="btn btn-md rounded font-sm hover-up">Publich</button>
              </div>
            </div>
          </div>

    </form>

    

  </section> <!-- content-main end// -->

  </main>
  <script src="/admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
  <script src="/admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
  <script src="/admin-assets/js/vendors/select2.min.js"></script>
  <script src="/admin-assets/js/vendors/perfect-scrollbar.js"></script>
  <script src="/admin-assets/js/vendors/jquery.fullscreen.min.js"></script>

  <script src="/javascripts/ajaxRequests.js"></script>
  <!-- Main Scr/ipt -->
  <script src="/admin-assets/js/main.js" type="text/javascript"></script>
  <script src="/admin-assets/js/custom-chart.js" type="text/javascript"></script>
  <%- include('../partials/admin-footer') %>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->

</html> 