
 <%- include('../partials/admin-headder') %>
 <html>
    <body>
        
<section class="content-main">
    <div class="content-header">
        <div>
            <h2 class="content-title card-title">Categories </h2>
            <p>Add, edit or delete a category</p>
        </div>
        <div>
            <input type="text" placeholder="Search Categories" class="form-control bg-white">
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-3">
                    <form action="/admin/edit-categories/<%= category._id %> " method="post">
                        <div class="mb-4">
                            <label for="product_name"  class="form-label">Name</label>
                            <input type="text" placeholder="Type here" name="categoryName" required value="<%= category.catName %> " class="form-control" id="product_name" />
                        </div>
                       
                        
                        <div class="mb-4">
                            <label class="form-label">Description</label>
                            <input type="text" style="height: 80px;" placeholder="Type here" required value="<%= category.catDiscription %> " name="categorDescription" class="form-control" id="product_name" />
                        </div>
                        <div class="d-grid">
                            <button class="btn btn-primary" type="submit ">Edit category</button>
                        </div>
                    </form>
                </div>
               
            </div> <!-- .row // -->
        </div> <!-- card body .// -->
    </div> <!-- card .// -->
</section> <!-- content-main end// -->
<script src="admin-assets/js/vendors/jquery-3.6.0.min.js"></script>
    <script src="admin-assets/js/vendors/bootstrap.bundle.min.js"></script>
    <script src="admin-assets/js/vendors/select2.min.js"></script>
    <script src="admin-assets/js/vendors/perfect-scrollbar.js"></script>
    <script src="admin-assets/js/vendors/jquery.fullscreen.min.js"></script>
    <script src="admin-assets/js/vendors/chart.js"></script>
    <!-- Main Script -->
    <script src="admin-assets/js/main.js" type="text/javascript"></script>
    <script src="admin-assets/js/custom-chart.js" type="text/javascript"></script>
    <%- include('../partials/admin-footer') %>
</body>


<!-- Mirrored from wp.alithemes.com/html/evara/evara-backend/index.html by HTTrack Website Copier/3.x [XR&CO'2014], Sun, 01 Aug 2021 15:32:57 GMT -->
</html>