<%- include('../partials/user-headder') %>

<main class="main">
  <div class="page-header breadcrumb-wrap">
      <div class="container">
          <div class="breadcrumb">
              <a href="index.html" rel="nofollow">Home</a>
              <span></span> Shop
              <span></span> Your Cart
          </div>
      </div>
  </div>
  <% if (cartProducts.length >0) { %>
   
  
  <section class="mt-50 mb-50">
      <div class="container">
          <div class="row">
              <div class="col-12">
                  <div class="table-responsive">
                      <table class="table shopping-summery text-center clean" id="cartTable">
                          <thead>
                              <tr class="main-heading">
                                  <th scope="col">Image</th>
                                  <th scope="col">Name</th>
                                  <th scope="col">Price</th>
                                  <th scope="col">Quantity</th>
                                  <th scope="col">Subtotal</th>
                                  <th scope="col">Remove</th>
                              </tr>
                          </thead>
                          <tbody>
                            <% cartProducts.forEach(element => { %>
                              <tr>
                                  <td class="image product-thumbnail"><img src="/images/<%= element.image[0]%> " alt="#"></td>
                                  <td class="product-des product-name">
                                      <h5 class="product-name"><a href="shop-product-right.html"><%= element.name %></a></h5>
                                     
                                  </td>
                                  <td class="price" data-title="Price"><span>₹<%=element.price %></span></td>
                                  <td class="text-center" data-title="Stock">
                                      <div class="detail-qty border radius  m-auto">
                                          <a id="incProductCount"  onclick="incProductCount('<%=element._id %>','-1','<%=element.price %>','<%=element._id %>','<%=element.name%>')" class="qty-down"><i class="fi-rs-angle-small-down" style="margin:45px;"></i></a>
                                          <span id="<%=element._id %>"><%=element.count %></span>
                                          <a id="incProductCount"  onclick="incProductCount('<%=element._id %>','1','<%=element.price %>','<%=element._id %>','<%=element.name%>')" class="qty-up"><i class="fi-rs-angle-small-up"></i></a>
                                      </div>
                                  </td>
                                  <td class="text-right" data-title="Cart">
                                    <span id="<%=element.name%>">₹<%= element.price*element.count %></span>
                                  </td>
                                  <td class="action" data-title="Remove"><a onclick="RemoveFromCart('<%=element._id %>')" class="text-muted"><i class="fi-rs-trash"></i></a></td>
                              </tr>
                              <% }) %>
                              <tr>
                                  <td colspan="6" class="text-end">
                                      <a href="" class="text-muted"> <i class="fi-rs-cross-small"></i> Clear Cart</a>
                                  </td>
                              </tr>
                          </tbody>
                      </table>
                  </div>
                  <div class="cart-action text-end">
                     
                      <a class="btn " href="/"><i class="fi-rs-shopping-bag mr-10"></i>Continue Shopping</a>
                  </div>
                  <div class="divider center_icon mt-50 mb-50"><i class="fi-rs-fingerprint"></i></div>
                  <div class="row mb-50">
                    <div class="col-lg-6 col-md-12">
                        <div class="heading_s1 mb-3">
                            
                        </div>
                        <p class="mt-15 mb-30"><span class="font-xl text-brand fw-900"></span></p>
                        
                        <div class="mb-30 mt-50">
                            <div class="heading_s1 mb-3">
                                <h4></h4>
                            </div>
                            <div class="total-amount">
                                <div class="left">
                                    <div class="coupon">
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                     
                      <div class="col-lg-6 col-md-12">
                          <div class="border p-md-4 p-30 border-radius cart-totals">
                              <div class="heading_s1 mb-3">
                                  <h4>Cart Totals</h4>
                              </div>
                              
                              <div class="table-responsive">
                                  <table class="table"  >
                                      <tbody>
                                          <tr>
                                              <td class="cart_total_label">Cart Subtotal</td>
                                              <td class="cart_total_amount"><span class="font-lg fw-900 text-brand" id="subTotal">₹
                                                <% if (COUPON) { %>
                                                 <%= Math.round(SubTotal+discount) %>
                                               
                                                <% } else { %>
                                                    <%= Math.round(SubTotal+discount) %>
                                                 <% } %>
                                                
                                            
                                            </span></td>
                                          </tr>
                                          <tr>
                                              <td class="cart_total_label">Shipping</td>
                                              <td class="cart_total_amount"> <i class="ti-gift mr-5"></i> Free Shipping</td>
                                          </tr>
                                          <tr>
                                              <td class="cart_total_label">Total</td>
                                              <td class="cart_total_amount"><strong><span id="tableTotal" class="font-xl fw-900 text-brand">₹<%= Math.round(SubTotal) %></span><% if (COUPON) { %>
                                               <span style="color: green;" >Coupon Applied &nbsp;&nbsp;(- <%= discount %>) </span>
                                              <% } %></strong></td>
                                          </tr>
                                      </tbody>
                                  </table>
                              </div>
                              <a href="/checkout" class="btn "> <i class="fi-rs-box-alt mr-10"></i> Proceed To CheckOut</a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
  <% } else { %>
    <div class="col-12 text-center my-5">
        <h3 class="">Your cart is empty!🥲</h3>
        <p class="mb-4 mt-2">Add items to it now.</p>
        <a class="btn" href="/"><i class="fi-rs-shopping-bag mr-10"></i>Return to shop</a>
      </div>

  <% } %>
</main>

 

<%- include('../partials/user-footer') %>